<h1>Create an account to start budgeting better</h1>

<form action="/signup" method="POST">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email"/>
  <br />
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"/>
  <br />
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"/>
  <br />
  <label for="monthly_budget">Your Ideal Monthly Budget:</label>
  <input type="number" id="monthly_budget" name="monthly_budget"/>
  <br />
  <input type="submit" value="Create New Account" />
</form>
