<h2>Record a new purchase:</h2>
<div class="container">
<form action='/purchases' method='POST'>
<label for="description">Description:</label>
<input type="text" name="description" id='description' /><br />
<label for="amount">Amount: $</label>
<input type="number" step=".01" name="amount" id='amount' /><br />
<label for="date">Date Purchased:</label>
<input type="date" name="date_purchased" id='date' value="<%=Time.now.strftime("%Y/%m/%d/")%>"/><br /><br />
<input type='submit' class="button" id='submit' value='Record New Purchase'/>
</form>
</div>
