<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />

  <title>Budget App</title>
</head>
<body>
  <div class="header-nav">
    <% if logged_in? %>
      <a href="/summary">Budget Summary</a> &#0149; <a href="/purchases/new">Enter a New Purchase</a> &#0149; <a href="/purchases">All User Purchases</a> &#0149; <a href='/logout'>Log Out</a>
    <% else %>
      <a href='/signup'>Sign Up</a> or <a href='/login'>Log In</a>.
    <% end %>
    <br />
  </div>
  <% if flash.has?(:message) %>
    <%= flash[:message] %>
  <% end %>
  <%=yield%>
</body>
</html>
