<% if logged_in? %>
<a href="/users/summary">Budget Summary</a> | <a href="/purchases">All User Purchases</a> | <a href="/purchases/new">Enter a new purchase</a> | <a href='/logout'>Log out.</a>
<% else %>
<a href='/signup'>Sign up</a> or <a href='/login'>log in</a>.
<% end %>
<br />
<%=yield%>
